PORT=8000

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/?retryWrites=true&w=majority

JWT_ACCESS_PRIVATE_KEY=XcVH/KjbFhUGSB1Ojv+Nrw==
JWT_ACCESS_PUBLIC_KEY=WcZqBSFyXzSaacN6fzARVg==
JWT_ACCESS_TOKEN_EXPIRED_IN=15

JWT_REFRESH_PRIVATE_KEY=S60apQby8sdfaTo5LsWfrw==
JWT_REFRESH_PUBLIC_KEY=1APYcPZipytM6sHWwuVjCw==
JWT_ACCESS_TOKEN_EXPIRED_IN=10

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=